body {
  font-family: Arial;
  margin: 0;
  background: #ffe6f0;
}

header {
  background: #ff69b4;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  background: url("../images/bg-toko.jpg");
  background-size: cover;
  color: white;
  padding: 100px;
  text-align: center;
}

.filter {
  text-align: center;
  padding: 10px;
}

.filter button {
  background: #ff69b4;
  border: none;
  padding: 10px;
  margin: 5px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  padding: 20px;
  gap: 20px;
}

.product {
  background: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

button {
  background: #ff69b4;
  border: none;
  padding: 10px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.cart, .checkout {
  padding: 20px;
  background: white;
  margin: 20px;
}
